mixin video(video)

    div
        h3 
            a(href=`/videos/${video._id}`)=video.title
        p=video.overview
        ul 
            each hashtag in video.hashtags
                li=hashtag
        small=video.createdAt
        
    hr