.commentLi {
  position: relative;
  width: 500px;
  padding: 10px;
  display: flex;
}
.txtAvatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 20px;
  background: white;
}
.userWrap {
  display: flex;
  flex-direction: column;
  .commentName {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.commentTxtWrap {
  height: 50px;
  color: white;
  font-size: 18px;
  .commentCreatedAt {
    font-size: 12px;
    opacity: 0.5;
  }
}
.btnWrap {
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 10px;
  color: white;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    .commentsBtnIcon {
      color: rgb(255, 132, 132);
    }
  }
  i {
    font-size: 18px;
  }
  .commentsBtnIcon {
    padding: 10px;
    cursor: pointer;
  }
  p {
    cursor: pointer;
  }
  .btnBox {
    z-index: 9;
    position: absolute;
    right: -95px;
    top: 0px;
    background: rgb(109, 109, 109);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    hr {
      width: 90%;
      opacity: 0.5;
    }

    .editBtn {
      padding: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      &:hover {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
    .deleteBtn {
      padding: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      &:hover {
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}
