.video-wrap {
  width: 280px;
  display: flex;
  color: white;
}
.thumbImg {
  width: 280px;
  height: 180px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
}
.infoWrap {
  width: 100%;
  position: relative;
  display: flex;
}
.avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.video-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  .video-title {
    font-size: 18px;
    max-height: 40px;
    line-height: 20px;
    word-break: break-all;
  }
}
.video-name {
  font-size: 15px;
  opacity: 0.8;
}
.video-meta {
  opacity: 0.5;
  // padding: 0px 10px;
  font-size: 12px;
  display: flex;
  gap: 10px;
}

.notingText {
  color: white;
  text-align: center;
}

.watchVideoListWrap {
  width: 100px;
}
.videoSettingBtn {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 0;
  display: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.videoSettingMenu {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  color: black;
  position: absolute;
  right: 0;
  bottom: -60px;
  display: flex;
  flex-direction: column;
  display: none;
  p {
    padding: 10px;
  }
}
.selectedMenu {
  display: flex;
}
