.video-wrap {
  width: 280px;
  display: flex;
  color: white;
}
.thumbImg {
  width: 280px;
  height: 180px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
}
.infoWrap {
  display: flex;
}
.avatarImg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.video-info-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  .video-title {
    font-size: 18px;
    max-height: 40px;
    line-height: 20px;
    word-break: break-all;
  }
}
.video-name {
  font-size: 15px;
  opacity: 0.8;
}
.video-meta {
  opacity: 0.5;
  // padding: 0px 10px;
  font-size: 12px;
  display: flex;
  gap: 10px;
}

.notingText {
  color: white;
  text-align: center;
}

.watchVideoListWrap {
  width: 100px;
}
