.video-wrap {
  width: 300px;
  height: 300px;
  display: flex;
  border-radius: 10px;
  color: white;
}
.thumbImg {
  width: 100%;
  height: 50%;
}
.video-title-wrap {
  display: flex;
  padding: 5px 10px;
  .avatarImg {
    border-radius: 20px;
    padding: 20px;
  }
  .video-title {
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 700;
  }
}
.video-name {
  font-weight: 700;
  padding: 5px 10px;
  font-size: 15px;
  opacity: 0.5;
}
.video-meta {
  opacity: 0.5;
  padding: 0px 10px;

  p {
    text-align: right;
    padding: 5px 0px;
  }
  .video-createdAt {
    width: 100%;
    font-size: 12px;
  }
}

.notingText {
  color: white;
  text-align: center;
}
