#topMenuWrap {
  width: 100vw;
  height: 70px;
  position: fixed;
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 20px;
  #menuIconWrap {
    margin-left: 20px;
    padding: 10px;
    font-size: 24px;
    color: white;
  }
  div#iconWrap {
    // height: 70px;
    // position: absolute;
    // left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    span {
      font-size: 18px;
      color: white;
      font-weight: 700;
    }
  }
  #homeIcon {
    width: 30px;
    height: 20px;
    font-size: 26px;
    color: $red;
  }
  #timer {
    width: 50px;
    height: 70px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    color: white;
    line-height: 70px;
    text-align: center;
  }
}
