extends base

block content 
    .videoWrap 
        h3.pageTitle=pageTitle
         if errorMessage
            span=errorMessage
        form(method="post")
            input(placeholder="current password" required type="password" name="oldPassword")
            input(placeholder="new password" required type="password" name="newPassword")
            input(placeholder="password confirmation" required type="password" name="newPassword2")
            input.formBtn(type="submit" value="change password")