extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="post")
        input(placeholder="current password" required type="password" name="oldPassword")
        input(placeholder="new password" required type="password" name="newPassword")
        input(placeholder="password confirmation" required type="password" name="newPassword2")
        button save