extends base

block content
    #headerWrap(data-set="join")
        include partials/header.pug
    if errorMessage 
        span=errorMessage
    .formWrap 
        h3.pageTitle=pageTitle
        form(method="post")
            input(placeholder="username", required, type="text", name="username") 
            input(placeholder="name", required, type="text", name="name") 
            input(placeholder="email", required, type="text", name="email") 
            input(placeholder="Introduce yourself.", required, type="text", name="intro") 
            input(placeholder="password", required, type="text", name="password") 
            input(placeholder="password2", required, type="text", name="password2") 
            input.formBtn(type="submit", value="join") 