extends base
include mixins/search

block content 
    div.formWrap
        form(method="get") 
            input(placeholder="Write the word to search" type="text" required name="keyword")
            input.formBtn(type="submit" value="Send")
        hr
    div#searchWrap
        each video in videos
            +video(video)
        else 
            p#notingText video noting found.