extends base

block content
    video#video(width=400, height=400)
    button#startBtn Start recording video
    div
        span=errorMessage
    form( method="post" enctype="multipart/form-data") 
        label(for="video") video
        input(name="video" id="video" required type="file" accept="video/*")
        input(placeholder="title" name="title" required maxlength="80")
        input(placeholder="overview" name="overview" required minlength="20")
        input(placeholder="hashtag" name="hashtags")
        button save

block scripts 
    script(src="/assets/js/videoRecording.js")