header 
    nav 
        i.fas.fa-bars.home-icon
        ul#headerList
            li 
                a(href="/")
                    span home 
            if loggedIn 
                li
                    a(href="/users/logout") 
                        span logout
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name} profile
                li 
                    a(href="/videos/upload") uploads
                li 
                    a(href="/search") search
            if !loggedIn
                li 
                    a(href="/login") login 
                li 
                    a(href="/join") join 
