header 
    nav 
        i.fas.fa-bars#menuIcon
        ul#headerList
            li 
                a(href="/")
                    i.fas.fa-house-chimney
                    span home 
            if loggedIn 
                li
                    a(href="/users/logout") 
                        i.fas.fa-right-from-bracket
                        span logout
                li 
                    a(href=`/users/${loggedInUser._id}`)
                        i.fas.fa-house-chimney-user 
                        span #{loggedInUser.name} profile
                li 
                    a(href="/videos/upload")
                        i.fas.fa-upload 
                        span upload
                li 
                    a(href="/search")
                        i.fas.fa-magnifying-glass 
                        span search
            if !loggedIn
                li 
                    a(href="/login") 
                        i.fas.fa-user 
                        span login 
                li 
                    a(href="/join") 
                        i.fas.fa-user.plus 
                        span join 

