header 
    h1 home
    nav 
        ul 
            li 
                a(href="/") home 
            if loggedIn 
                li
                    a(href="logout") logout
                li 
                    a(href=`/${loggedInUser._id}/profile`) #{loggedInUser.name} profile
            if !loggedIn
                li 
                    a(href="/login") login 
                li 
                    a(href="/join") join 
